{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "insertPragma": true
}